# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
old
.virtualme
src-tauri/G2M/Config
src-tauri/G2M/Download

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
